<div style="padding-left: 50px;">
    <div>
        <img src="http://www.indowestunited.com/images/about1.jpg" width="70%" height="500%">
    </div><br>
    <div style="width: 70%;">
        <p>Indowest IT Solutions is a customer-focused information technology services company set up in partnership with a UK based company RDC offering innovative enterprise development and IT business consulting services. Indowest is actively helping clients to transform and address critical business issues by applying innovative technology solutions. With unparalleled experience and comprehensive solutions across verticals and business functions, we enable businesses to reduce time-to-market, maintain consistent quality, 
            ensure on-time delivery and drive transformational growth.</p>
            <p>At Indowest IT Solutions, we understand the distinctive business needs of our clients and work closely with them to provide superior IT solutions. Our proven global delivery and agile engagement models are designed to improve efficiency and productivity.
                 We constantly implement new methodologies and best practices giving our clients the winning edge.</p>
                 <p>The experienced IT professionals at Indowest IT Solutions, 
                    always strive to provide enterprise-level technologies and scalable IT consulting services as an extension for your in-house IT staff.</p>
    </div>
</div>

<div style="width: 25%;height: 200px;right: 4px;top: 119px;position: absolute;color:rgb(116, 112, 112); background-color: rgb(238, 236, 236);display: flex; justify-content: space-evenly;flex-direction: column; padding: 10px;">
    <h6 style="text-align: center;border: 1;color: rgb(63, 172, 206);">About Indowest</h6>
   <hr style="color: black;"> <h6  class="hover-element" style="text-align: center;">Why Choose Us</h6>
   <hr style="color: black;"> <h6  class="hover-element" style="text-align: center;">Our Work Process</h6>
</div>