<div>
    <div style="padding-left: 50px;padding-top: 50px;">
        <img src="http://www.indowestunited.com/images/solution1.jpg" width="70%" height="400">
    </div><br>
    <div style="width: 70%;padding-left: 50px;">
<p>Your enterprise has immense data resources. To capitalize on them, you need more than standard reporting systems. Given the mix of structured and unstructured information, effective analysis now relies on powerful business intelligence and analytics,
     integrating the data into new business processes.</p>
     <p>
        Indowest IT Solutions provides advanced Big Data and Analytics solutions, to rapidly provide insights on operations, customers and products. We support predictive analytics, real-time dashboards,
         master data management and more.
     </p>
     <h5 style="color: rgb(28, 128, 209);">DATA SCIENCE SERVICES</h5><br>
     <h6>Business Intelligence & Analytics</h6>
     <p>We can help you to significantly increase the effectiveness and capabilities of your BI (Business Intelligence) reporting; minimize IT support costs and improve user experience, by giving more power to business users, and creating interactive reports with deeper competitive insight, 
        meaningful dashboards, and scorecards.</p>
        
        <h6>Enterprise Data Warehousing</h6>
        <p>Our enterprise data warehousing service provides your business with data for consolidated views across your company and visibility across business units. With several years’ knowledge and experience,
             we eliminate all risks associated with new technology adoption.</p>
    </div>
</div>

<div  style="width: 25%;height: 400px;right: 4px;top: 119px;position: absolute;color:rgb(16, 180, 230); background-color: rgb(238, 236, 236);display: flex; justify-content: space-evenly;flex-direction: column; padding: 10px;">
    <h6 style="text-align: center;">Big Data And Analytics</h6>
   <hr style="color: black;"> <h6 class="hover-element" style="text-align: center;">Artificial Intelligence</h6>
   <hr style="color: black;"> <h6 class="hover-element" style="text-align: center;">Cloud Computing</h6>
   <hr style="color: black;"> <h6 class="hover-element" style="text-align: center;">Enterprise Solutions</h6>
   <hr style="color: black;"> <h6 class="hover-element" style="text-align: center;">Internet Of Things</h6>
   <hr style="color: black;"> <h6 class="hover-element" style="text-align: center;">Blockchain</h6>
</div>