
<div  style="width: 90%;height: 300px;padding-left: 50px; right: 100px;top: 119px;position: absolute;color:rgb(116, 112, 112); background-color: rgb(238, 236, 236);display: flex;flex-direction: column;">
    <h2 style="color: rgb(87, 170, 224);padding: 20px;">IndoWest United - India</h2>
    <div class="contact-info" style="display: flex; flex-direction: column;justify-content: center;">
        <p class="address"><b>Address : </b>Flat No 402, Veekay Prime Apartments, Patrika Nagar, Hitech City, Hyderabad – 500081</p><br>
        <p class="phone"><b>Phone :</b> +91 40 29802489</p><br>
        <p class="email"><b>Email :</b> info@indowestunited.com</p>
    </div>
</div>
<br>
<br>


<!-- <div  style="width: 90%;height: 300px;padding-left: 135px; right: 100px;top: 365px;position: relative;color:rgb(116, 112, 112); background-color: rgb(238, 236, 236);display: flex;flex-direction: column;">
    <h2 style="color: rgb(87, 170, 224);padding: 20px;">IndoWest United - UK</h2>
    <div class="contact-info">
        <p class="address"><b>Address: </b>71 Stanhope Avenue, Nottingham, NG5 1QX</p><br>
        <p class="phone"><b>Phone:</b> +44 770 272 4864</p><br>
        <p class="email"><b>Email:</b> raj.g@indowestunited.com</p>
    </div>
</div> -->








