.img-gallery {
  overflow: hidden;
}

.img-gallery img {
  transition: all 1.3s ease;
}

.img-gallery:hover img {
  transform: scale(1.2);
}

/* .zoom-out img {
  transition: transform 0.5s;
  transform: scale(0.8); 
} */


