<div>
    <div style="padding-left: 50px;padding-top: 50px;">
        <img src="http://www.indowestunited.com/images/service1.jpg" width="70%" height="500px">
        <div style="width: 70%;padding: 2px 2px;">
        <p>Analyzing existing problems and developing future plans often entails the need for Concor Consulting Services to partner with organizations to provide best practices and techniques, change management and coaching skills, technical expertise, 
            strategic development and operational improvements to propose solutions and solve business problems.
        </p>
            <p>The world of consulting services has advanced from mere advice to providing a sophisticated range of services and consulting skills to provide the most expert knowledge to reach business goals and resolve business challenges.
                 Concor IT Solutions offers both technical expertise in IT Management Consulting Services and we blend our business savvy approach in Business Process Consulting Services.
                </p>
                <h5>IT MANAGEMENT CONSULTING SERVICES</h5>
                <p>Information Technology Consulting Services includes many types of services from IT enterprise architecture,
                     systems review for architectural consistency, 
                     strategic planning assistance, project management services,
                      Master Contractor assessments and risk assessment analysis and more.
                    </p>
                    <h5>BUSINESS PROCESS CONSULTING SERVICES</h5>
                    <p>Business Process Consulting Services streamlines business processes and the development, 
                        implementation and support of process improvements to eliminate redundancy,
                         increase productivity, and reduce cost.</p>
                        </div>
    </div>
</div>

<div  style="width: 25%;height: 400px;right: 4px;top: 119px;position: absolute;color:rgb(116, 112, 112); background-color: rgb(238, 236, 236);display: flex; justify-content: space-evenly;flex-direction: column; padding: 10px;">
    <h6 style="text-align: center;border: 1;color: rgb(63, 172, 206);">It Consulting</h6>
   <hr style="color: black;"> <h6 class="hover-element" style="text-align: center;">Software Development</h6>
   <hr style="color: black;"> <h6 class="hover-element" style="text-align: center;">Mobile App Development</h6>
   <hr style="color: black;"> <h6 class="hover-element" style="text-align: center;">Web Development</h6>
   <hr style="color: black;"> <h6 class="hover-element" style="text-align: center;">Quality Assurance</h6>
   <hr style="color: black;"> <h6 class="hover-element" style="text-align: center;">Staff Augementation</h6>
</div>
   
